:root {
  --darkblue: #001220;
  --lightblue: #96e0f5;
  --white: #ffffff;
  --black: #000000;
  --menuLink: #9c9c9c;
  --textFont: "Barlow", sans-serif;
  --titleFont: "Josefin Sans", sans-serif;
  --bold: 700;
  --thin: 100;
}

body {
  padding-top: 70px;
}
