#cards {
  padding: 0 0 80px 0;

  .card-header {
    background: var(--white);
    padding: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    @media (min-width: 1200px) {
      margin-top: -40%;
    }

    @media (max-width: 900px) {
      margin-top: 20px;
    }

    h3 {
      font-family: var(--titleFont);
      text-transform: uppercase;

      span {
        font-weight: var(--bold);
        color: var(--lightblue);
      }
    }

    p {
      font-family: var(--textFont);
      color: var(--menuLink);
      font-size: 14px;
    }
  }

  .card-footer {
    background: #f9f9f9;
    padding: 20px 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    p {
      color: var(--black);
      font-family: var(--textFont);
    }

    ul {
      list-style-type: none;
      padding: 0;
      text-align: center;

      > li {
        display: inline-block;
        margin: 5px 0;

        .btn-outline-primary {
          border: 1px solid #ff0000;
          text-transform: uppercase;
          font-family: var(--textFont);
          color: #ff0000;
          padding: 5px 30px;
        }
      }
    }
  }
}
